.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 65px 0;
}

.footer > div {
    align-items: flex-start;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.menuLeft {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.menuLeft > h3 {
    font-size: 18px;
}

.listWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navigator > a {
    color: var(--navigation-color);
    font-size: 16px;
}

@media screen and (max-width: 650px) {
    .menu {
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    .footer >div, .menu {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.3rem;
    }

    .menuLeft {
        gap: 0.3rem;
    }

    .menu > .menuLeft > ul {
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .listWrapper {
        gap: 0.3rem;
        justify-content: center;
        align-items: center;
    }
}